@font-face {
  font-family: 'Axiforma';
  src: url('../assets/font/Kastelov  Axiforma Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../assets/font/Kastelov  Axiforma Thin Italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../assets/font/Kastelov  Axiforma Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../assets/font/Kastelov  Axiforma Light Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../assets/font/Kastelov  Axiforma Book.otf') format('opentype');
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../assets/font/Kastelov  Axiforma Book Italic.otf') format('opentype');
  font-weight: 350;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../assets/font/Kastelov  Axiforma Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../assets/font/Kastelov  Axiforma Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../assets/font/Kastelov  Axiforma Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../assets/font/Kastelov  Axiforma Medium Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../assets/font/Kastelov  Axiforma SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../assets/font/Kastelov  Axiforma SemiBold Italic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../assets/font/Kastelov  Axiforma Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../assets/font/Kastelov  Axiforma Bold Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../assets/font/Kastelov  Axiforma ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../assets/font/Kastelov  Axiforma ExtraBold Italic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../assets/font/Kastelov  Axiforma Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../assets/font/Kastelov  Axiforma Heavy Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../assets/font/Kastelov  Axiforma Black.otf') format('opentype');
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../assets/font/Kastelov  Axiforma Black Italic.otf') format('opentype');
  font-weight: 950;
  font-style: italic;
  font-display: swap;
}
